:root {
    --primary-color: #6d6875;
    --secondary-color: #b5838d;
    --dark: #e5989b;
    --white: #ffcdb2;
    --light: #ffb4a2;
    --purple: rgba(57,59,152,0.611764705882353);
    --gradient: linear-gradient(to bottom right,#ffb6a3 25%,#e6999c 55%,#b4838d 83%);
    --gradient-transparent: linear-gradient(to bottom right,rgba(255,182,163,0.7) 25%,rgba(230,153,156,0.7) 55%,rgba(180,131,141,0.7) 83%);
}
.register,.login{
  background: var(--gradient);
  height: 100vh;
  display: grid;
  place-items: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  background: white;
  width: 50vw;
  height: 60vh;
}
.form-container .form-header{
  background: #222123;
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
.form-container form{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
  justify-content: space-between;
}
.form-container form .input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
}
.form-container form .input input{
  width: 70%;
  padding: 0.5rem 0.4rem;
  background-color: #e7e5eb;
  border: none;
}
.form-container form button{
  width: 25%;
  padding: 0.5rem 0.9rem;
  color: white;
  background: #ff5858;
  border: none;
  outline: 0;
}

.message-page{
  display: grid;
  height: 100vh;
  place-items: center;
  background: var(--gradient);
}
.error-svg{
  width: 40vw;
  height: 40vh;
}

.message-page p {
  margin: 0;
}